
#qrToLearn,#qrBrowseBuy{
    h1, h2, h3{
        @include montserratHeavy;
        color: #fff;
        text-transform: uppercase;
    }

    p{
        color: #fff;
        @include montserratMedium;
        font-size: 1.6rem;

        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            font-size: 1.2rem;
        }
    }
}


#qrToLearn{
    background-color: #37bff1;

    .qrIntro{
        margin-bottom: 2rem;
    }

    .pr__oos{
        h3{
            color: red;
        }
    }
}


#qrBrowseBuy{

    background-color: #E82463;

}