#taxEvent{
    background-color: #D30132;
    h2, h3, p{
        color: #fff;
        text-align: center;
    }

    h2, h3{
        text-transform: uppercase;
        @include montserratHeavy;
    }

    h2{
        font-size: 40px;
        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            font-size: 30px;
        }
    }

    h3{
        @include montserratHeavy;
        font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    }

    p{
        @include montserratMedium;
        font-size: 25px;
    }

    .button.large{
        display: flex;
        margin: 0 auto;
        background: #fff;
        padding: 10px 15px;
        color: #d30132;
        border: 1px solid #fff;
        height: auto;
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300))) !important;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        min-width: 130px;
        max-width: 130px;

        &:hover{
            color: #ffffff;
            background: #d30132;
            border: 1px solid #ffffff;
        }
    }    

    .category-container, #brand-pr{
        width: 100%;
        padding: 0 1rem;
        margin: 0 auto;

        .cell{
            margin-bottom: 30px;
        }


        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            padding: 0;
        }
    }

    #shop-all-large{
        min-width: none;
        max-width: unset;
        width: 100%;
        font-size: 50px !important;
        @include montserratHeavy;
        text-transform: uppercase;
        padding: 20px 0;
    }

    .new-deals-message{
        text-transform: uppercase;
        font-style: italic;
        font-weight: 800;
    }

}


// hierarchy level categories
.taxEventHierarchyLvl{
    background-color: #D30132;
    padding: 2rem 0;

    h1{
        text-transform: uppercase;
        @include montserratHeavy;
        color: #ffffff;
        text-align: center;
    }

    h5{
        margin: 0 !important;
        color: #fff;
        @include montserratHeavy;
    }

    .grid-x{
        margin: 0;
    }
}