#whatsNew{

    h1, h2{
        text-transform: uppercase;
        font-weight: 700;
    }

    p{
        font-size: 1.2rem;
    }

    #hierarchy-intro, #prod-region-container{
        padding: 2rem 0;
    }

    #prod-region-container{
        .cell{
            margin-bottom: 1rem;
        }
    }

    #sub_lvl_brand_content{
        margin-top: 2rem;
    }

}
