.workwearClearance{
    background: #f2c009;
    background-size: cover; 
    background-attachment: inherit; 
    background-position: center;


    h2{
        text-transform: uppercase;
        font-weight: 800;
        color: #000000;
        font-size: 3rem;
        text-align: center;

        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            font-size: 2rem;
        }
    }

    p{
        @include futuraPTDemi;
        font-size: 20px;
        color: #000;
        a{
            @include futuraPTDemi;
            font-size: 20px;
            text-decoration: underline;
            color: #000;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    a.button{
        background-color: #FE0000;
        text-transform: uppercase;
        @include futuraPTDemi;
    }

    .clearanceHeader{
        img{
            width: 100%;
            margin: 0 auto;
        }
    }

    #clearanceGrid{
        padding: 2rem 10px;
    }

    .grid-shop-all{
        margin-bottom: 2rem;
        background: #000000;
        padding: 5px;
        border-radius: 5px;

        .cell{
            margin-left: 0;
            margin-right: 0;
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

    .grid-categories{
        a{
            margin-bottom: 2rem;

            img{
                width: 100%;
            }
        }
    }

    
}