.prod-region-small-container{
    display: flex;

    .prod-region-item-small{
        background-color: #fff;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;

        img{
            max-width: 150px;
            width: 100%;
        }
    }

    .brand-pr-overlay{
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 40px !important;
        img{
        }
    }

    .code-ref-container{
        text-align: center;
        margin-bottom: 2.5px;

        span{font-weight: 600;}
    }

    .prod-region-title{
        text-align: center;
        display: block;
    }

    .button{
        margin: 5px auto;
        width: 100%;
        border-radius: 100px;
    }

}