// ***********************
// Color Variables
// ***********************

// Generic
$color-primary: #55c57a;
$black: #000000;
$white: #ffffff;
$red: #ED1C24;
$blue: #0081B9;
$green: #1CA902;
$lightGrey: #f7f7f7;
$mediumGrey: #eaeaea;
$darkGrey: #3c3c3c;
$orange:  #ffa500;

// Brands
$its-yellow: #fee420;
$its-grey: #252525;
$dewalt: #FBBB11;
$makita: #02798E;
$milwaukee: #D2172D;
$trend: #DC0000;
$vaunt: #ED6A05;
$flexvolt: #D21939;
$karcher: #feed01;
$metabo: #356660;


// ***********************
// Font Variables
// ***********************

// Google Fonts
$anton: "Anton", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$oswald: "Oswald", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$montserrat: "Montserrat", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$openSans: "Open Sans", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$roboto: "Roboto" "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$nunito: "Nunito" "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$lato: "Lato", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$termina: "Termina", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;

// Typekit fonts
$futuraPT: "futura-pt", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$futuraPTCondensed: "futura-pt-condensed", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$eurostile: "eurostile", "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;

// Bosch Custom Fonts
$boschBlack: BoschSansBlack, "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$boschBold: BoschSansBold, "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$boschLight: BoschSansLight, "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$boschMedium: BoschSansMedium, "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
$MinionProRegular: MinionProRegular, "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;;


// ***********************
// Screen Size Variables
// ***********************
$desktopLarge: 1920px;
$desktop: 1440px;
$laptop: 1200px;
$laptopMedium: 1024px;
$laptopSmall: 990px;
$tablet: 786px;
$mobile: 480px;
$mobileSmall: 320px;